/* @override 
	http://rar10.local/stylesheets/default.css?1287747748
	http://rar10.local/stylesheets/default.css?1287743824
	http://rar10.local/stylesheets/default.css?1287743910
	http://rar10.local/stylesheets/default.css?1287745438
	http://rar10.local/stylesheets/default.css?1287746523
	http://rar10.local/stylesheets/default.css?1287748174
	http://rar10.local/stylesheets/default.css?1287750343
	http://rar10.local/stylesheets/default.css?1287750415
	http://rar10.local/stylesheets/default.css?1287751443
	http://rar10.local/stylesheets/default.css?1287751600
	http://rar10.local/stylesheets/default.css?1287751682
	http://rar10.local/stylesheets/default.css?1287751881
	http://rar10.local/stylesheets/default.css?1287752165
	http://rar10.local/stylesheets/default.css?1287752202
*/

body{
	background-color: #373637;	
}

#container{
	width: 700px;
	margin: auto;
}
#header{
	background-image: url(/images/header.png);
	height: 90px;
}

#navigation{
	padding: 0px;
	margin: 0px;
	border-left: 3px solid #797979;
	border-right: 3px solid #797979;
	height: 30px;
}

#navigation ul{
	margin: 0px;
	margin-left: 2px;	
	padding: 0px;
	padding-top: 2px;
	list-style-type: none;
}

#navigation ul li{
	display: block;
	float: left;
	outline: 1px solid;
	padding: 5px 20px 5px 20px;	
}

#navigation ul li.active{
	background-color: #757375;
}

#navigation ul li:hover{
	background-color: #757375;
}
#navigation ul li a{
	color: white;
	font-weight: bold;
	font-variant: small-caps;
	text-decoration: none;
}
#content{
	clear: both;
	background-color: white;
	border-left: 3px solid #797979;
	border-right: 3px solid #797979;
	border-bottom:3px solid #797979;
border-top:1px solid #797979;
	color: #5a5a5a;
	padding: 20px;
	padding-top: 30px;
}

#content h1{
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}

.stats{
	position: relative;
	border: 2px solid;
}

.stats .row{
	color: black;;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 5px;
	position: relative;
	z-index: 2;
	background: transparent;
	
}

.stats .bar{
	background-image: url(/images/gradient_mask.png);
	position: absolute;
	height: 20px;
	z-index: 1;
	border-right: 2px solid;
	border-bottom: 1px solid;
	border-top: 1px solid;
}

.stats .logo{
	position: absolute;
	bottom: 0px;
	right: 0px;
	opacity: 0.5;
}
ul#users{
	padding: 0px;
	padding-top: 10px;
	margin: 0px;
	list-style-type: none;
}
ul#users li{
	clear: both;
	height: 15px;
	padding: 5px;
}
ul#users li .username a{
	font-size: 20px;
	color: grey;
	text-decoration: none;
}

ul#users li .username{
	position: relative;
	float: left;
	top: -5px;
	width: 200px;

	
}
ul#users li .logo{
	padding-left: 5px;
	padding-right: 10px;
	float: left;
}

.artist_box{
	cursor: pointer;
	position: relative;
	padding: 20px;
	width: 150px;
	height: 50px;
	float: left;
	text-align: center;
	padding-bottom: 70px;
}

.artist_box:hover{
	background-color: #efefef;
}

.artist_box .image_container{
	overflow: hidden;
	height: 70px;
	background: url(/images/loading_image.png) no-repeat 14px;
}


#footer{
	background-color: grey;
	border: 3px solid #797979;
	padding: 5px;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	padding-left: 20px;
	color: white;
}

.odd{
	background-color: #fdecfe;
}

.clear_both{
	clear: both;	
}

.pagination{
	text-align: center;
}