%h1 Coders And Music, lets connect it ...
%p 
  Maybe we can bring you in contact with other coders ! 
  Our reference points are based on music based relationships. 
  It might also be interesting to see if a certain programming language goes well with a certain genre of music.
%p Here is a small preview of what coders in Ruby like to listen to :
 
.stats
  -@tags.each_with_index do |tag,i|
    .bar{:style=>"background-color:#{COLORS[i]}; width:#{((tag[1].to_f/@total.to_f)*100).round}%"}
    .row=tag[0].capitalize
  .logo=image_tag "ruby.png", :height=>100