%html
  %head
    =javascript_include_tag :defaults
    =stylesheet_link_tag 'default'
  %body
    #container
      #header
      #navigation
        = render :partial => "shared/navigation"
      #content
        =yield
      #footer
        Proof of concept for Ruby And Rails Rumble 2010
